{% extends 'base.html' %} {% block content %}
  <div class="container mt-4">
    <h2><i class="bi bi-people"></i> Liste des Apprentis</h2>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for apprenti in apprentis %}
          <tr>
            <td>{{ apprenti.nom }}</td>
            <td>{{ apprenti.prenom }}</td>
            <td>{{ apprenti.email }}</td>
            <td>{{ apprenti.telephone }}</td>
            <td>
              <!-- Nouveau bouton d'inscription -->
              {% comment %} <a href="{% url 'apprentis:detail_inscription' apprenti.id %}" class="btn btn-success btn-sm"><i class="bi bi-journal-plus"></i> Inscrire à un pack</a> {% endcomment %}
              <a href="{% url 'apprentis:inscrire_pack' apprenti.id %}"
   class="btn btn-success btn-sm {% if apprenti.inscriptions.all %}disabled{% endif %}"
   {% if apprenti.inscriptions.all %}aria-disabled="true"{% endif %}>
   <i class="bi bi-journal-plus"></i>
   {% if apprenti.inscriptions.all %}
     Inscription déjà faite
   {% else %}
     Inscrire dans un pack
   {% endif %}
</a>
              <a href="{% url 'apprentis:detail_apprenti' apprenti.id %}" class="btn btn-info btn-sm"><i class="bi bi-eye"></i> Détail</a>
              <a href="{% url 'apprentis:modifier_apprenti' apprenti.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Modifier</a>
              <a href="{% url 'apprentis:supprimer_apprenti' apprenti.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Supprimer</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" class="text-center">Aucun apprenti trouvé.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="mt-3">
      <a href="{% url 'apprentis:ajouter_apprenti' %}" class="btn btn-success"><i class="bi bi-plus-circle"></i> Ajouter un apprenti</a>
    </div>
  </div>
{% endblock %}
